{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %} 
    <div class="container px-4 px-lg-5 m-3">
        <div class="row gx-4 gx-lg-5">
            <div class="col">
                <h1 class="h1">Login Form</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}                    
                    <button class="btn btn-primary mt-2" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script>
		$(document).ready(function(){
			$('#loginNav').addClass('active')
		})
	</script>
{% endblock %} 