{% extends 'base.html' %}
{% load static %}
{% block head_extend %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script> 
{% endblock %}
{% block main %}
    <header class="bg-dark py-5">
        <div class="container px-1 px-lg-2 my-2">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Current Balance Box</h1>
                <h2 class="h2" id="balanceCurrency"></h2>
            </div>
        </div>
    </header>
    <!-- <div class="row gx-4 gx-lg-5 justify-content m-2">
        <div class="col">
            <h1 class="h1">Current Balance Box</h1>
            <h2 class="h2" id="balanceCurrency"></h2>
        </div>
    </div> -->
    <div class="row gx-4 gx-lg-5 row-cols-2  m-2">
        <div class="col justify-content-center">
            <h3 class="h3 text-center">Deposit Form</h3>
            <form id="increaseForm" action="{% url 'store:increment_balance_box' %}" method="post">
                {{increaseBalanceForm.as_p}}
                <input type="submit" class="btn btn-primary btn-block" value="Deposit">
            </form>   
        </div>
        <div class="col justify-content-center">
            <h3 class="h3 text-center">Withdrawal Form</h3>
            <form id="decreaseForm" action="{% url 'store:decrement_balance_box' %}">
                {{decreaseBalanceForm.as_p}}
                <input type="submit" class="btn btn-primary btn-block" value="Withdraw">
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#balanceBoxNav').addClass('active')
            var url = "{% url 'store:get_balance_box' %}"
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json', 
                success: function(res){
                    $('#balanceCurrency').html(`Rp.${addCommas(res.balance)},-`)
                }
            })
        });
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $("#increaseForm, #decreaseForm").submit(function(e){
                e.preventDefault(); 

                var form = $(this);
                var actionUrl = form.attr('action');
                const csrftoken = getCookie('csrftoken');
                if ($(this).attr('id') == "increaseForm"){
                    var title = 'Deposit Confirmation'
                    var content = 'Are you sure you wanna deposit to the balance box?'
                    var alert_text = "Money successfully deposited to balance box!"
                }
                else{
                    var title = 'Withdrawal Confirmation'
                    var content = 'Are you sure you wanna withdraw from the balance box?'
                    var alert_text = "Successfully withdraw money from balance box!"
                }
                console.log(form.serialize());
                $.confirm({
                    title: title,
                    content: content,
                    buttons: {
                        Yes: function(){
                    $.ajax({
                        type: "PUT",
                        url: actionUrl,
                        data: form.serialize(), 
                        headers: {'X-CSRFToken': csrftoken},
                        success: function(data){
                            $.alert(alert_text)
                            $('#balanceCurrency').html(`Rp.${addCommas(data.balance)},-`);
                        },
                        error: function(xhr, status, error) {
                            var err = JSON.parse(xhr.responseText)
                            console.log(err.balance)
                            $.alert(err.balance[0]);
                        }
                    });
                        },
                        No: function(){

                        }
                    }
                })

            })

    </script>
{% endblock %}