{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% block head_extend %}
        {% endblock %}

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Kantin Kejujuran</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a id="storeNav" class="nav-link" aria-current="page" href="{% url 'store:home' %}">Store</a></li>
                        <li class="nav-item"><a id="balanceBoxNav" class="nav-link" href="{% url 'store:balance_box' %}">Balance Box</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="#">{{request.user.student_id}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a id="registerNav" class="nav-link" aria-current="page" href="{% url 'accounts:register' %}">Register</a></li>
                            <li class="nav-item"><a id="loginNav" class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-container">
            <div id="content-wrap">
                {% block main %}
                {% endblock %}
            </div>
        </div>
        <!-- Footer-->
        <footer class="footer py-5 bg-dark mt-auto fixed-bottom">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Compfest SEA 2022 WebChallenge </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        {% block script %}
        {% endblock %}
        <script>
            $(document).ready(function() {
                // Check if body height is higher than window height :)
                if ($(document).height() > $(window).height()) {
                    $('.footer').removeClass('fixed-bottom');
                }
            });
        </script>
    </body>
</html>