{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{item.image.url}}" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">{{item.date}}</div>
                    <h1 class="display-5 fw-bolder">{{item.name}}</h1>
                    <div class="fs-5 mb-5">
                        <span id="itemPrice">{{item.price}}</span>
                    </div>
                    <p class="lead">{{item.desc}}</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('#itemPrice').html(`Rp.${addCommas($('#itemPrice').html())},-`)
        })
    </script>
{% endblock %}

