{% extends 'base.html' %}
{% load static %}
{% block head_extend %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script> 
{% endblock %}
{% block main %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Kantin Kejujuran</h1>
                <p class="lead fw-normal text-white-50 mb-0">Keep it simple and honest!</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 offset-1">
                    <h2 class="h2">Store Items</h2> 
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                <div class="col mb-1 offset-1">
                    <div class="col offset-2 mb-3">
                        <h3 class="h3">Add Items</h3>
                        {% if request.user.is_authenticated %}
                        <button class="btn btn-primary" id="addItemButton">Click Me!</button>
                        <form id="addItemForm" style="display: none;" action="{% url 'store:create_item' %}" method="post">
                            {% csrf_token %}
                            {{itemForm}}
                            <input type="submit" class="btn btn-success" value="Add">
                            <button type="reset" id="addItemBackButton" class="btn btn-danger">Back</button>
                        </form>
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            Please log in to your students account to add items!
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                <div class="col mb-1 offset-1">
                    <h3 class="h3 mx-5 ">Sort By</h3>
                </div>
            </div>

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content">
                <div class="col mb-5 offset-1">
                        <select id="sortAtribute" class="form-select mx-5" aria-label="sort-by">
                            <option selected value="name">Name</option>
                            <option value="date">Date</option>
                        </select>
                        <select id="sortOrder" class="form-select mx-5 " aria-label="sort-order">
                            <option selected value="">Asc</option>
                            <option value="-">Desc</option>
                        </select>
                </div>
                <div class="col mb-5">
                    <button id="sortButton" class="btn btn-primary btn-block mx-5" value="">Sort!</a>
                </div>

            </div>
            <div id="card-rows" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            </div>
        </div>
    </section>
    <script>
        function getItems(sort = ""){
            var urlItems = "{% url 'store:get_items' %}" + sort
            var urlBuy = "{% url 'store:delete_item_api' 0 %}"
            $.ajax({
                url: urlItems,
                type: 'GET',
                dataType: 'json', // added data type
                success: function(res) {
                    $("#card-rows").empty()
                    if (res.length == 0){
                        $("#card-rows").append(`<div class="alert alert-success" role="alert">
                            There are currently no items in the store
                        </div>`)
                    } else{
                        $.each(res,function(index,value){
                        $("#card-rows").append(`<div class=col mb-5> 
                            <div class="card h-100"> 
                                <img class="card-img-top" src="${value.image}"/> 
                                <div class="card-body p-4"> 
                                    <div class="text-center"> 
                                        <div class="small mb-1">${value.date.split('T')[0]}</div>
                                        <h5 class="fw-bolder">${value.name}</h5> 
                                        <p>Rp${addCommas(value.price)},-</p> 
                                    </div> 
                                </div> 
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent"> 
                                    <div class=text-center><a class="btn btn-outline-dark mt-auto" href="${value.id}">View Details</a></div>
                                    {% if request.user.is_authenticated %}
                                    <div class=text-center>
                                        <form class="buyForm" action="${urlBuy.replace(/0/,value.id.toString())}">
                                            <input type="submit" class="btn btn-primary" value="Buy">
                                        </form>
                                    </div> 
                                    {% endif %}
                                </div> 
                            </div> 
                        </div>`)
                        })
                    }
                    
                }
            });
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $(document).ready(function(){
            $('#storeNav').addClass('active')
            getItems();
            '{% if request.user.is_authenticated %}'
            $(document).on("submit", ".buyForm", function (e) {
                e.preventDefault()
                var form = $(this);
                var actionUrl = form.attr('action');
                const csrftoken = getCookie('csrftoken');
                $.confirm({
                    title: 'Buy Confirmation',
                    content: 'Are you sure you wanna buy this item?',
                    buttons: {
                        Yes: function(){
                            $.ajax({
                                url: actionUrl,
                                method: 'DELETE',
                                dataType: 'json',
                                headers: {'X-CSRFToken': csrftoken},
                                success: function(res){
                                    $.alert("Item successfully bought!")
                                    getItems();
                                },
                                error: function(xhr, status, error) {
                                    var err = eval("(" + xhr.responseText + ")");
                                    $.alert(err.Message);
                                }
                            })
                        },
                        No: function(){

                        }
                    }
                })
            });
            '{% endif %}'
        })
        '{% if request.user.is_authenticated %}'
        $("#addItemButton").click(function(){
            $(this).hide()
            $("#addItemForm").fadeIn();
        })
        $("#addItemBackButton").click(function(){
            $("#addItemForm").hide();
            $("#addItemButton").fadeIn();
        })
        $(".buyForm").on("submit",function(e){
            console.log("masuk");
            e.preventDefault();
            var form = $(this);
            var actionUrl = form.attr('action');
            const csrftoken = getCookie('csrftoken');
            $.confirm({
                title: 'Buy Confirmation',
                content: 'Are you sure you wanna buy this item?',
                buttons: {
                    Yes: function(){
                        $.ajax({
                            url: actionUrl,
                            method: 'DELETE',
                            dataType: 'json',
                            headers: {'X-CSRFToken': csrftoken},
                            success: function(res){
                                $.alert("Item successfully bought!")
                                getItems();
                            },
                            error: function(xhr, status, error) {
                                var err = eval("(" + xhr.responseText + ")");
                                $.alert(err.Message);
                            }
                        })
                    },
                    No: function(){

                    }
                }
            })
        })
        $("#addItemForm").submit(function(e){
            e.preventDefault();
            var form = $(this);
            var actionUrl = form.attr('action');
            const csrftoken = getCookie('csrftoken');
            $.confirm({
                title: 'Add Item Confirmation',
                content: 'Are you sure you wanna add this item?',
                buttons: {
                    Yes: function(){
                        form.ajaxSubmit({
                            success: function(res){
                                $.alert("Item successfully added!")
                                getItems();
                                
                            },
                            error: function(xhr, status, error) {
                                console.log(error);
                                console.log(status);
                                console.log(xhr);
                                $.alert(xhr.responseText);
                            }
                        })
                        // $.ajax({
                        //     url: actionUrl,
                        //     method: 'POST',
                        //     data: form.serialize(),
                        //     dataType: 'application/json',
                        //     processData: false,
                        //     contentType: false, 
                        //     headers: {'X-CSRFToken': csrftoken},
                        //     success: function(res){
                        //         $.alert("Item successfully added!")
                        //         getItems();
                        //     },
                            // error: function(xhr, status, error) {
                            //     console.log(error);
                            //     console.log(status);
                            //     console.log(xhr);
                            //     var err = eval("(" + xhr.responseText + ")");
                            //     $.alert(err.Message);
                            // }
                        // })
                    },
                    No: function(){

                    }
                }
            })
        })
        '{% endif %}'
        $("#sortButton").click(function(){
            var sortOrder = $("#sortOrder").val()
            var sortAtribute = $("#sortAtribute").val()
            var link = `?ordering=${sortOrder + sortAtribute}`
            getItems(link);
            
        });
    
    </script>
{% endblock %}

